@font-face {
	font-family: 'Ayudisha Demo';
	src: url(../../assets/fonts/Ayudisha%20Demo-efbe514a0107a4b74a623269ccc45887.woff?h=9f0986c741f9cc87efb5fdc25c776dad) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}