@font-face {
	font-family: 'Crowk';
	src: url(../../assets/fonts/Crowk-d6746da377479a6bb04a83be0286ef90.woff?h=26f0322b40d50531aef3dd3a34674d83) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}