@font-face {
	font-family: 'MT Qeyemour';
	src: url(../../assets/fonts/MT%20Qeyemour-0a4f4f930b4d3cb1139eda221db57353.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}