@font-face {
	font-family: 'MT Qeyemour';
	src: url(../../assets/fonts/MT%20Qeyemour-0a4f4f930b4d3cb1139eda221db57353.woff?h=26f0322b40d50531aef3dd3a34674d83) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}