.hero {
  width: 100%;
  height: 100svh;
  background: rgba(0,0,0,0);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.about-info {
  background: #ffffff;
  text-align: center;
  border-radius: 9px;
  margin: 15px;
  padding: 13px;
  border: 0.1px solid #ffdff8 ;
  max-width: 400px;
}

@media (min-width: 768px) {
  .about-img {
    margin: 15px;
    border-radius: 9px;
    width: 400px;
    max-width: 400px;
    height: auto;
    min-width: 240px;
    min-height: 400px!important;
    border-width: 0.4px;
    border-style: solid;
  }
}

.about-img {
  margin: 15px;
  border-radius: 9px;
  border-style: none;
  width: auto;
  max-width: 400px;
  height: auto;
  min-width: 240px;
  min-height: 355px;
  max-height: 355px;
  box-shadow: inset 3px 3px 1px 1px rgb(0,0,0), inset -3px -3px 1px 1px rgb(0,0,0);
}

.btn {
  background: rgb(255,15,0);
  font-family: 'Josefin Sans', sans-serif;
  padding: 6px 12px;
  padding-top: 10px;
  border-style: none;
  border-radius: 24px;
}

@media (min-width: 768px) {
  #hero-name {
    font-size: 9rem!important;
  }
}

#hero-name {
  font-family: 'Crowk';
  text-align: center;
  font-size: 51px;
  letter-spacing: 18px;
}

